:root {
    --background-color: #14bdac
    --border-color:
}

.game {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.container .piece {
    border: 2px solid;
}

.info input {
    margin: 15px 10px 20px;
    height: 20px;
}

.game button {
    height: 30px;
    width: 80px;
    margin-bottom: 30px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    z-index: 10;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: solid rgba(15, 15, 15, 0.835);
    border-radius: 8px;
    padding: 2px 5px 15px;
    width: 200px;
    max-width: 70%;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}



.popup .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
}

.popup .header {
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
}

.restart {
    height: 30px;
    width: 80px;
    margin-top: 5px;
}

#overlay {
    position:fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
    opacity: 1;
}